* {
    overflow-y: hidden;
    color: white;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

h1 {
    padding: 2%;
    background-color: none;
    font-size: 5vh;
}

canvas {
    background-color: black;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
